.new-post {
  display: grid;
  width: 500px;
  height: 350px;
  grid-template-columns: 500px;
  grid-template-rows: 40px 40px 40px 40px 150px 40px;
  grid-template-areas:
    "header"
    "username"
    "category"
    "title"
    "body"
    "submit";
  background-color: var(--mint-cream-lighter);
  border: 1px solid black;
  border-radius: 10px;
}

.text-label {
  line-height: 0px;
  font-weight: bold;
}

.new-post-header {
  grid-area: header;
  font-weight: 800;
  font-size: 20px;
}

.new-post-author {
  grid-area: username;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  padding: 0 10px 10px 10px;
}

.new-post-category {
  grid-area: category;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  align-items: left;
  padding: 0 10px 10px 10px;
}

.new-post-title {
  grid-area: title;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  padding: 0 10px 10px 10px;
}

.new-post-body {
  grid-area: body;
  padding: 10px;
  margin: 0 10px 10px 10px;
}

.new-post-submit {
  grid-area: submit;
  margin: 0 10px 10px 10px;
  font-weight: bold;
}
