:root {
  --charcoal: #264653;
  --mint-cream-darker: #CFDDDA;
  --mint-cream: #E4ECEA;
  --mint-cream-lighter: #F0F7F4;
  --persian-green: #2A9D8F;
  --sandy-brown: #F4A261;
  --burnt-sienna: #E76F51;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--charcoal);
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
